<a href="https://colab.research.google.com/github/jittakorn-ch/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function $(f(x) = y)$

```python
def function_name(index):
    # do somthing with input_x to get output_y
    return output_y
```

$f_1(x)=x^2+75$

In [ ]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

In [ ]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าจะเขียนฟังก์ชั่น ชื่ออะไร `def function_name():` (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input *Input* (ขาดได้)
3. ส่วนประมวลผล do_somthing with *Input* to get *Output* (ขาดไม่ได้)
4. ส่วน output `return` *Output* (ขาดได้)

#### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

#### ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v():
    y = 3.14159265359
    return y

In [ ]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

#### ตัวอย่าง function ที่ไม่มี process (ไม่ได้)

```python
#function ไม่มี process เขียนไม่ได้ (เขียนได้แต่ error)
def function_a():
```



```python
#error ของ function ไม่มี process
  File "<ipython-input-8-07a0750214a8>", line 1
    def function_a():
                     ^
SyntaxError: unexpected EOF while parsing
```

#### ตัวอย่าง function ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('จิตรกร','623021044-1')

ชื่อ จิตรกร รหัสประจำตัว 623021044-1

#### ตัวอย่าง function print

 https://www.programiz.com/python-programming/methods/built-in/print

In [ ]:
print('จิตรกร')
print('623021044-1')

จิตรกร
623021044-1

In [ ]:
print('จิตรกร',end='->')
print('623021044-1')

จิตรกร->623021044-1

In [ ]:
print('จิตรกร','623021044-1')

จิตรกร 623021044-1

In [ ]:
print('จิตรกร','623021044-1',sep=' & ')

จิตรกร & 623021044-1

## input ของ function แบ่งออกเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [ ]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [ ]:
print_grade('จิตรกร จันทะสี','623021044-1')

รหัสประจำตัว 623021044-1 ชื่อ จิตรกร จันทะสี
ได้เกรด F

In [ ]:
print_grade('จิตรกร จันทะสี','623021044-1','A')

รหัสประจำตัว 623021044-1 ชื่อ จิตรกร จันทะสี
ได้เกรด A

In [ ]:
print_grade(id='623021044-1',name='จิตรกร จันทะสี',grade='B+')

รหัสประจำตัว 623021044-1 ชื่อ จิตรกร จันทะสี
ได้เกรด B+

# Looping (for)

```python
# วนลูป member ในอะไรซักอย่าง
for member in listEX:
    do_somthing()
```

In [ ]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [ ]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [ ]:
for name in ['วัชราภรณ์','จุฑากาญจน์','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [ ]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [ ]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('--------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
--------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
--------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
--------------

## ใช้ for loop เพิ่มสมาชิกใน list

In [ ]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])       # เพิ่มสมาชิกเข้าใน list_name ด้วยการวนลูป each ใน list_name_id_grade เอาตัวที่ [0]
    list_id.append(each[1])
    list_grade.append(each[2])

In [ ]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

### การวนลูปด้วย range()

In [ ]:
for i in range(100):    # วนลูปด้วยค่าซ้ำ
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

## Loop ซ้อน Loop

In [ ]:
for mem1 in range(2,5):     #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13):    #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [ ]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [ ]:
print_grade_loop(list_name,list_grade)

นางสาวเบญญาภา ระภูเขียว ได้เกรด B
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

# Condition Statement (if)

```python
if condition1:     
    do_something()    # ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:   
    do_another_thing()    # ถ้า condition1 ไม่เป็นจริง แต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() # ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [ ]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวเบญญาภา ระภูเขียว ได้เกรด A
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F

## operator ที่ใช้ตรวจสอบ condition

==,!=,>=,<=,>,<,and,or

In [ ]:
a = 10 == 20
print(a)

False

In [ ]:
b = 15 <= 20
print(b)

True

In [ ]:
if a:
    print('X')

In [ ]:
if True:
    print('X')

X

In [ ]:
if a and b:
    print('X')

In [ ]:
if a or b:
    print('X')

X

# HW4
เขียน functoin ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
- ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
- ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [39]:
## แบบใส่ input ทีละตัว

def cal_grade(x):
    if type(x) == type(''):
        print(f'{x} ไม่สามารถตัดเกรดได้')
    else:
        if x >= 0 and x < 50:
            print(f'คะแนน {x} ได้เกรด F')
        elif x >= 50 and x < 55:
            print(f'คะแนน {x} ได้เกรด D')
        elif x >= 55 and x < 60:
            print(f'คะแนน{x} ได้เกรด D+')
        elif x >= 60 and x < 65:
            print(f'คะแนน {x} ได้เกรด C')
        elif x >= 65 and x < 70:
            print(f'คะแนน {x} ได้เกรด C+')
        elif x >= 70 and x < 75:
            print(f'คะแนน {x} ได้เกรด B')
        elif x >= 75 and x < 80:
            print(f'คะแนน {x} ได้เกรด B+')
        elif x >= 80 and x <= 100:
            print(f'คะแนน {x} ได้เกรด A')
        else:
            print(f'{x} ไม่สามารถตัดเกรดได้')

In [40]:
#input = [1,50,65,90,101,-5,49,'ก',80]
cal_grade(1)

คะแนน 1 ได้เกรด F

In [41]:
cal_grade(50)

คะแนน 50 ได้เกรด D

In [42]:
cal_grade(65)

คะแนน 65 ได้เกรด C+

In [43]:
cal_grade(90)

คะแนน 90 ได้เกรด A

In [44]:
cal_grade(101)

101 ไม่สามารถตัดเกรดได้

In [45]:
cal_grade(-5)

-5 ไม่สามารถตัดเกรดได้

In [46]:
cal_grade(49)

คะแนน 49 ได้เกรด F

In [47]:
cal_grade('ก')

ก ไม่สามารถตัดเกรดได้

In [48]:
cal_grade(80)

คะแนน 80 ได้เกรด A

In [51]:
## แบบใส่ input เป็น list

def cal_grade_list(score):
    for x in score:
        if type(x) == type(''):
            print(f'คะแนน {x} ไม่สามารถตัดเกรดได้')
        else:
            if x >= 0 and x < 50:
                print(f'คะแนน {x} ได้เกรด F')
            elif x >= 50 and x < 55:
                print(f'คะแนน {x} ได้เกรด D')
            elif x >= 55 and x < 60:
                print(f'คะแนน{x} ได้เกรด D+')
            elif x >= 60 and x < 65:
                print(f'คะแนน {x} ได้เกรด C')
            elif x >= 65 and x < 70:
                print(f'คะแนน {x} ได้เกรด C+')
            elif x >= 70 and x < 75:
                print(f'คะแนน {x} ได้เกรด B')
            elif x >= 75 and x < 80:
                print(f'คะแนน {x} ได้เกรด B+')
            elif x >= 80 and x <= 100:
                print(f'คะแนน {x} ได้เกรด A')
            else:
                print(f'คะแนน {x} ไม่สามารถตัดเกรดได้')

In [52]:
input = [1,50,65,90,101,-5,49,'ก',80]
cal_grade_list(input)

คะแนน 1 ได้เกรด F
คะแนน 50 ได้เกรด D
คะแนน 65 ได้เกรด C+
คะแนน 90 ได้เกรด A
คะแนน 101 ไม่สามารถตัดเกรดได้
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนน 49 ได้เกรด F
คะแนน ก ไม่สามารถตัดเกรดได้
คะแนน 80 ได้เกรด A

In [53]:
input2 = [48,67,54,99,100,'j',-30,3224]
cal_grade_list(input2)

คะแนน 48 ได้เกรด F
คะแนน 67 ได้เกรด C+
คะแนน 54 ได้เกรด D
คะแนน 99 ได้เกรด A
คะแนน 100 ได้เกรด A
คะแนน j ไม่สามารถตัดเกรดได้
คะแนน -30 ไม่สามารถตัดเกรดได้
คะแนน 3224 ไม่สามารถตัดเกรดได้